.home {
    padding-right: 30px;
    color: rgb(62, 8, 88);
}
.items {
    padding-right: 30px;
    color: rgb(78, 5, 14);
}
.sign-in {
    padding-right: 30px;
    color: rgb(62, 8, 88);
}
.sign-out {
    padding-right: 30px;
    color: rgb(78, 5, 14);
}
.sign-up {
    padding-right: 30px;
    color: rgb(62, 8, 88);
}